@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* { 
    padding: 0; 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #eee;
}

img { 
    border: 0;
}

ul { 
    list-style-type: none; 
}

a { 
    display: inline-block; 
    text-decoration: none; 
}

a:link { 
    text-decoration:none; 
    color: #222222; 
}

a:hover { 
    text-decoration:none; 
    color: #222222; 
}

a:visited { 
    text-decoration:none; 
    color: #222222; 
}

a:active { 
    text-decoration:none; 
    color: #222222; 
}

header, nav, footer {
    user-select: none;
}

nav, footer {
    width: 1000px;
    margin: 0 auto;
}

#div-main {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
}

/* header */
#top { 
    position: relative; 
    width: 1000px; 
    height: 80px; 
    margin: 0 auto; 
}

#top h3 { 
    position: absolute; 
    top: 25px; 
    left: 40px; 
    font-size: 20px; 
}

#top #top_menu { 
    float: right; 
    margin: 30px 60px 0 0;
}

#top #top_menu li { 
    display: inline; 
    font-size: 12px;
}

/* nav */
#menu-bar { 
    height: 48px; 
    background-color: #443e58; 
    font-size: 16px; 
    text-align: center;
}

#menu-bar ul { 
    width: 1000px; 
    margin: 0 auto; 
    padding: 14px 0 0 0px; 
    list-style: 48px;
}

#menu-bar li { 
    display: inline; 
    margin-left: 90px; 
    color: white;
}

#menu-bar li:first-child {
    margin-left: 0;
}

#menu-bar a:link { 
    color: white; 
}

#menu-bar a:hover { 
    color: white; 
}

#menu-bar a:visited { 
    color: white; 
}

#menu-bar a:active { 
    color: white; 
}

/* footer */
footer {
    height: 100px; 
    background-color: #2c2a29; 
    position: relative;
    bottom: 0;
}

#footer_content { 
    position: relative; 
    width: 1000px; 
    margin: 0 auto; 
    color: #dddddd; 
}

#footer_logo { position: absolute; top: 30px; left: 50px; font-size: 16px; }
#footer_logo span { color: yellow; }
#download { position: absolute; top: 20px; left: 400px; }
#author { position: absolute; top: 20px; left: 700px; }